node_modules
dist
npm-debug.log
.git
.gitignore
.env
.env.local
.vscode
.idea
README.md
*.md
test
coverage
.eslintrc*
.prettierrc
Dockerfile
.dockerignore
compose.yaml
docker-compose.yaml
.github
*.png
*.jpg
