PORT=3000

# Database (PostgreSQL + PostGIS)
DB_HOST=localhost
DB_NAME=perdidadb
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL_MS=60000

# Azure Application Insights
APPLICATIONINSIGHTS_CONNECTION_STRING=

# Mapbox (opcional)
MAPBOX_TOKEN=

# Mailer (opcional)
MAILER_EMAIL=
MAILER_PASSWORD=
MAILER_SERVICE=gmail
